[options]

# Vocabulary Structure
transitive=false

[cleanup]
classes=true 	 # Remove definitions of classes with no instances.
properties=true  # Remove definitions of properties which have not been used.
unreachable=true # Remove triples which can not be reached by a traversal from the main vocabulary graph.
