.topbar-white, .headerbar-coloured, .headerbar h1 {
  background-color: #961300;
}
.topbar a, .topbar a.navigation-font {
  color: #fff;
}
.topbar span {
  color: rgba(255,255,255,.5);
}
a, .pagination > li > a {
  color: #007bff;
}
.vocab-info {
  background-color: #F6F7F8;
}
.prefLabelLang {
  color: #961300;
}
